* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient( 135deg, #cdabea, #6d63cc, #b75ba7 ); */
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    /* background-image: url('https://www.pngfind.com/pngs/b/6-68803_soundwave-transparent-png-soundwave-png-png-download.png'); */
    background-color: #222222;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}

body::before {
    content: '';
    /* background-image: linear-gradient(45deg, #222222c9 80%, #575757c9); */
    position: absolute;
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    z-index: -1;
    left: -1rem;
    top: -1rem;
    background-color: #2222229d;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.header {
    height: 4rem;
    width: 100%;
}

.container {
    height: calc(100% - 4rem);
}


.music-style-list {
    width: 7rem;
}


.play-list {
    background-color: #eba5ca4d;
    background-image: linear-gradient(212deg, rgba(235 165 202 / 0.2), #222222b3);
    backdrop-filter: blur(5px);
    color: white;
    overflow-x: hidden;
    border: 1px solid #5c4c54;
    background-color: #272626;
    box-shadow: 0px 0px 40px -2px #121212;
    background-image: linear-gradient(212deg, #323232, #222222b3);
    border: 1px solid #363636;
}

.list-container {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.play-list-item {
    min-width: 4rem;
}
.play-list,.top-music, .searchbox,
.music-style-list,.musics-content{
    background-image: linear-gradient(212deg, #323232, #222222b3);
    border: 1px solid #363636;
    color: white;
}
.top-music {
    background-color: #2745744d;
    background-image: linear-gradient(212deg, rgba(78, 133, 222, 0.2), #222222b3);
    backdrop-filter: blur(5px);
    color: white;
    overflow-x: hidden;
    border: 1px solid #384456;
    background-color: #272626;
    box-shadow: 0px 0px 40px -2px #121212;
    background-image: linear-gradient(212deg, #323232, #222222b3);
    border: 1px solid #363636;
}


.music-player {
    background-color: #000000b2;
    backdrop-filter: blur(5px);
    color: white;
}


.style-item .btn {
    font-size: 1rem;
    font-weight: 500;
    color: #838383;
    outline: none;
}

.btn.active,
.btn:focus {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    transition: all ease 0.2s;
}

.btn.active::before,
.btn:focus::before {
    content: '';
    position: absolute;
    left: -0.17rem;
    height: 2.75rem;
    width: 0.2rem;
    background-color: #5b21b6;
    border-radius: 50px;
    box-shadow: 0px 0px 28px 2px #5b21b6;
}


.music-item {
    color: whitesmoke;
    background-color: #2c2c2c;
    box-shadow: 0px 20px 12px -10px #1b1b1b;
    height: 12rem;
}

.music-item:nth-of-type(10n-1) .play-btn{
    box-shadow: 0px 0px 60px 8px #ff5200;
    color: #ff5200;
}

.music-item:nth-of-type(10n-2) .play-btn{
    box-shadow: 0px 0px 60px 8px #ff0000;
    color: #ff0000;
}

.music-item:nth-of-type(10n-3) .play-btn{
    box-shadow: 0px 0px 60px 8px #ff0076;
    color: #ff0076;
}

.music-item:nth-of-type(10n-4) .play-btn{
    box-shadow: 0px 0px 60px 8px #b400ff;
    color: #b400ff;
}

.music-item:nth-of-type(10n-5) .play-btn{
    box-shadow: 0px 0px 60px 8px #7aff00;
    color: #7aff00;
}

.music-item:nth-of-type(10n-6) .play-btn{
    box-shadow: 0px 0px 60px 8px #00ff4e;
    color: #00ff4e;
}

.music-item:nth-of-type(10n-7) .play-btn{
    box-shadow: 0px 0px 60px 8px #00ffad;
    color: #00ffad;
}

.music-item:nth-of-type(10n-8) .play-btn{
    box-shadow: 0px 0px 60px 8px #00f3ff;
    color: #00f3ff;
}

.music-item:nth-of-type(10n-9) .play-btn{
    box-shadow: 0px 0px 60px 8px #005aff;
    color: #005aff;
}

.music-item:nth-of-type(10n) .play-btn{
    color: #ffeb00;
    box-shadow: 0px 0px 60px 8px #ffeb00;
}

.music-img {
    box-shadow: 0px 16px 30px -5px #000;
    filter: saturate(0.6);
}

.play-btn {
    /* box-shadow: 0px 0px 35px 4px #5a21b6; */
    transition: all ease 0.1s;
    backdrop-filter: blur(2px);
}

.play-btn:hover {
    transform: scale(1.15);
    box-shadow: 0px 0px 12px 1px !important;
}

.notification {
    background-color: #242424;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 2px #0c0c0c;
    color: white;
    position: relative;
}

.notification::before {
    content: '';
    position: absolute;
    right: -0.22rem;
    top: -0.15rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 20px;
    background-color: blueviolet;
    box-shadow: rgb(91 33 182) 0px 0px 14px 2px;
}

.notification path {
    fill: #838383;
}

/* .searchbox {
    background-color: #303030;
    color: white;
} */

.search-input {
    font-family: segoe ui;
    font-size: 0.75rem !important;
}

.music-player {
    background-image: url('https://s3.amazonaws.com/media.thecrimson.com/photos/2021/10/18/210955_1352140.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.music-player::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(0deg, black, transparent);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.line {
    width: 100%;
    border-radius: 50px;
    margin: 0.5rem auto;
    height: 0.25rem;
    border: 1px solid #2c2c2c;
    position: relative;
    cursor: pointer;
}

.line-progress {
    width: unset;
    height: 0.2rem;
    border-radius: 50px;
    background-color: #5b21b6;
    position: absolute;
    left: 0;
    transition: all linear 0.05s;
    box-shadow: 0px 0px 16px 1px #5b21b6;
    display: flex;
    align-items: center;
}
.player{
    visibility: hidden;
}
.line-progress::before {
content: '';
position: absolute;
right: 0;
width: 8px;
height: 8px;
background-color: white;
border-radius: 50%;
}


.equaliser-container {
    margin: 0 0;
    padding: 0 0 0 0;
    position: absolute;
    align-self: center;
    z-index: -2;
    display: none;
  }
  
  .colour-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
    margin: 0 2px;
  }
  
  .equaliser-column {
    width: 1.7rem;
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
    height: 10rem;
    position: relative;
    list-style-type: none;
  }
  
  .equaliser-column:nth-child(6n-2) .colour-bar {
    animation: color-bar 2s 1s ease-out alternate infinite;
  }
  
  .equaliser-column:nth-child(6n-1) .colour-bar {
    animation: color-bar 2s 0.5s ease-out alternate infinite;
  }
  
  .equaliser-column:nth-child(6n-4) .colour-bar {
    animation: color-bar 2s 1.5s ease-out alternate infinite;
  }
  
  .equaliser-column:nth-child(6n-3) .colour-bar {
    animation: color-bar 2s 0.25s ease-out alternate infinite;
  }
  
  .equaliser-column:nth-child(6n-5) .colour-bar {
    animation: color-bar 2s 2s ease-out alternate infinite;
  }
  .equaliser-column:nth-child(6n) .colour-bar {
    animation: color-bar 2s 0.75s ease-out alternate infinite;
  }
  
  .equaliser-column:last-child {
    margin-right: 0;
  }
  
  @keyframes color-bar {
    0% {
      height: 5rem;
      /* background: #0059ffc9; */
      background-color: #1a1a1abd;
    }
    10% {
      height: 6rem;
    }
    20% {
      height: 8rem;
    }
    30% {
      height: 6rem;
    }
    40% {
      height: 13rem;
    }
    50% {
      height: 15rem;
    }
    60% {
      height: 8rem;
    }
    70% {
      height: 13rem;
    }
    80% {
      height: 8rem;
    }
    90% {
      height: 6rem;
    }
    100% {
      height: 4rem;
    }
  }

