* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #222222 80%, #575757);
    /* background-image: linear-gradient( 135deg, #cdabea, #6d63cc, #b75ba7 ); */
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    /* background-color: burlywood; */
    height: 4rem;
    width: 100%;
}

.container {
    /* background-color: cadetblue; */
    height: calc(100% - 4rem);
}

.main-content {
    /* background-color: coral; */
}

.right-sidebar {
    /* background-color: darkolivegreen; */
}

.musics-content {
    background-image: linear-gradient(45deg, #2c2c2c, transparent);
}

.tab-bar {
    /* background-color: darkgreen; */
}

.play-list {
    background-color: coral;

}

.top-music {
    background-color: violet;
}

.music-player {
    background-color: tomato;
}


.style-item .btn {
    font-size: 1rem;
    font-weight: 500;
    color: #838383;
    outline: none;
}
.btn.active, .btn:focus {
    background-image: linear-gradient(90deg, #303030, #282828);
    border-image-source: linear-gradient(0deg, #5b21b6, #7621b6);
    border-image-slice: 1;
    border-left: 5px solid;
    color: white ;
}

.style-item{
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;
}
.music-item {
    color: whitesmoke;
    background-color: #2c2c2c;
    box-shadow: 0px 20px 12px -10px #1b1b1b;
}

.music-img {
    box-shadow: 0px 16px 30px -5px #000;
}

.play-btn {
    box-shadow: 0px 0px 30px 2px #5a21b6;
    transition: all ease 0.1s;
}
.play-btn:hover {
    transform: scale(1.15);
}
.notification{
    background-color: #242424;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 2px #181818;
    color: white;
    position: relative;
}
.notification::before{
    content: '';
    position: absolute;
    left: -0.25rem;
    top: -0.25rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 20px;
    background-color: tomato;
}

.searchbox{
    background-color: #303030;
    color: white;
}
.search-input{
    font-family: segoe ui;
    font-size: 0.75rem !important;
}